:root {
    --primary-color: rebeccapurple;
    --white: #fefefe;
}

.sidebar {
    min-height: 640px;
    text-align: right;
    border-right: 4px dotted var(--primary-color);
}

.sidebar__title {
    padding: 10px 16px;
}

.menu .sidebar__link {
    display: inline-block;
    background: rgba(255, 255, 255, .025);
    color: var(--primary-color);
    margin: 4px 0;
    padding: 12px 24px;
    transition: .1s all;
    border-bottom: 2px dotted;
}

.sidebar__link:hover,
.sidebar__link:active,
.sidebar__link:focus {
    color: var(--primary-color);
    padding-right: 40px;
}

.logo--sidebar {
    display: inline-block;
    background: url('../images/eplus-logo.svg') no-repeat;
    background-size: 100%;
    font-size: 1px;
    color: transparent;
    width: 96px;
    height: 60px;
    margin: 4px;
    padding: 4px;
}

.header {
    background: var(--primary-color);
    color: var(--white);
    margin: 16px 0;
}

.section.cell {
    min-height: 120px;
}

.section__title {
    font-size: 26pt;
}

.code {
    display: block;
    color: var(--white);
    padding: 24px;
    transform: scale(.95);
    transition: .1s;
}

.code:hover {
    color: var(--white);
    transform: scale(1);
}

.code--website {
    background: rebeccapurple;
}

.code--web-application {
    background: #e85297;
}

.code--cico {
    background: #479ca0;
}
